<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p>


<div class="col-sm-8">
  <form [formGroup]="form"  novalidate autocomplete="off" (submit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input  formControlName="nombre" type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre">

      <ngb-alert *ngIf="!form.controls['nombre'].valid">

          <span *ngIf="form.controls['nombre'].errors['required']">
              campo requerido
          </span>
        <span *ngIf="form.controls['nombre'].errors['maxlength']">
              tamaño maximo excedido
          </span>


      </ngb-alert>
    </div>
    <div class="form-group">
      <label for="sexo">Sexo</label>
      <input formControlName="sexo" type="text" class="form-control" id="sexo" placeholder="Ingrese el sexo">
    </div>
    <div class="form-group">
      <label for="edad">Edad</label>
      <input formControlName="edad" type="text" class="form-control" id="edad" placeholder="Ingrese su edad">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!form.valid" >Submit</button>

  </form>

</div>


<div class="table-responsive">

  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Sexo</th>
      <th>Edad</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts;let i = index">
      <td>{{post.userId}}</td>
      <td>{{post.title}}</td>
      <td>{{post.body}}</td>

      <td><button type="button" (click)="showDetails(i)" >detalles</button></td>
      <td><button type="button" (click)="clickMe(i)" >clickMe</button></td>
      <td><a [routerLink]="post.id" >ir</a></td>
    </tr>
    </tbody>


  </table>

</div>
